$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 20px;
$light-gray: rgba(128, 128, 128, 0.158);
$gray: rgba(128, 128, 128, 0.5);
$secondary-color: rgba(32, 96, 148, 0.596);
$primary-color: rgb(32, 96, 148);
$warning-color: red;
$primary-offset-color: white;
$button-width-min: 150px;
$black: rgb(44, 44, 44);

body {
  margin-top: 300px;
  margin-bottom: 200px;
}

.menu {
  display: none;
}

.header,
.footer {
  position: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.514);
  width: 100%;
  background-color: white;
  text-align: center;
  &.header {
    top: 0;
  }
  &.footer {
    bottom: 0;
  }
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  font-weight: bold;
  color: $black;
}
h1 {
  font-size: 2em;
}

/**** Filters ****/
.filters {
  .filter-section {
    list-style-type: none;
    text-align: center;
    .filter-value {
      display: inline-block;
      margin: $small-margin;
      border: solid 1px $light-gray;
      min-width: $button-width-min;
      text-align: center;
      padding: $small-margin;
      cursor: pointer;
      &.selected {
        font-weight: bold;
        background-color: $primary-color;
        color: $primary-offset-color;
      }
    }
  }
  input {
    border: solid $black 1px;
    border-radius: 0;
    padding: $medium-margin;
    min-width: 30vw;

    &:focus {
      border-radius: 0;
      outline: none;
    }
  }
}

/**** Modal ****/
$modal-width: 75vw;
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.151);
  .modal-form {
    width: $modal-width;
    top: 10vh;
    max-height: 80vh;
    left: calc((100vw - #{$modal-width}) / 2);
    overflow: auto;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.514);
    z-index: 101;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.2em;
  }
  body {
    margin-top: 80px;
  }
  .filters {
    display: none;
    &.expand {
      display: block;
    }
    max-height: 50vh;
    overflow: auto;
  }
  .header {
    text-align: right;
  }
  .menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2em;
    cursor: pointer;
  }
  .modal-form {
    width: 90vw;
    left: calc((100vw - 90vw) / 2);
    z-index: 10001;
    position: fixed;
    margin-bottom: 85px;
    p {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 60px;
      background-color: white;
      width: 100%;
    }
  }
}

.button {
  min-width: $button-width-min;
  &.button-primary {
    background-color: $primary-color;
    color: $primary-offset-color;
    padding: 10px 20px;
  }
  &:disabled {
    background-color: $secondary-color;
  }
}

.list-container {
  width: 100%;
  text-align: center;
  .card {
    border-top: solid 1px $light-gray;
    &:first-child {
      border: none;
    }
    margin: $large-margin;
    color: $black;
    font-weight: 200;
    background-color: white;
    a {
      color: $primary-color;
      text-shadow: 1px 1px 3px $gray;
      font-weight: bold;
      &.phone {
        color: $warning-color;
        font-weight: normal;
      }
    }
    .genre {
      display: inline-block;
      margin: $small-margin;
      font-style: italic;
      font-weight: bold;
      color: $gray;
    }
  }
}
